@import url(global.css);

body {
	background-color: var(--background-default);
	padding: 5.5rem 5rem 3rem 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4.0625rem;
}

#container {
	display: flex;
	width: 70rem;
	flex-direction: column;
	/* align-items: flex-start; */
	gap: 2.5rem;
}

#intro {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
	/* border-bottom: 0.0625rem solid var(--border-primary); */

	p {
		font: var(--headline);
		color: var(--text-headline);
	}
	h1 {
		font: var(--h1);
		color: var(--text-primary);
		margin-bottom: 2rem;
	}

	figure {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;

		img {
			border-radius: 1.75rem;
			/* height: 41.25rem; */
		}
		figcaption {
			text-align: center;
			font: var(--subtitle);
			color: var(--text-secondary);
		}
	}
}

#content-list {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

#title-list {
	p:nth-child(1) {
		font: var(--headline);
		color: var(--text-headline);
		text-transform: uppercase;
		margin-bottom: 0.125rem;
	}
	h2 {
		font: var(--h2);
		color: var(--text-primary);
		margin-bottom: 0.5rem;
	}
	p:nth-child(3) {
		font: var(--paragraph);
		color: var(--text-secondary);
		text-align: justify;
	}
}

#list {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

#card-travel {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;

	img {
		border-radius: 1.75rem;
	}
}

#content-card {
	h3 {
		margin-bottom: 0.25rem;
		color: var(--text-primary);
		font: var(--h3);
		padding-left: 0.5rem;
	}
	p:nth-child(2) {
		color: var(--text-secondary);
		font: var(--paragraph);
	}
	p:nth-child(4) {
		color: var(--text-secondary);
		font: var(--headline);
	}
	li {
		color: var(--accent-blue);
		font: var(--headline);
		padding-left: 0.3rem;
	}

	.purple {
		color: var(--accent-purple);
	}
	.pink {
		color: var(--accent-pink);
	}
	.orange {
		color: var(--accent-orange);
	}
}
